{% extends 'base/main.html' %}
{% load static %}

{% block extraheader %}
<link rel="stylesheet" href="{% static 'css/register.css' %}">
{% endblock extraheader %}


{% block content %}
<div class="styled-form">
    <div class="card-body">
        <div class="header-bar">
            <h1>Register</h1>
        </div>
        <form action="" method="POST">
            {% csrf_token %}

            {% if form.non_field_errors %}
                <div class="alert alert-danger error">
                    <strong>There were some errors:</strong>
                    <ul>
                        {% for error in form.non_field_errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}

            <div class="form-group">
                <label for="{{ form.firstname.id_for_label }}">{{ form.firstname.label }}</label>
                {{ form.firstname }}
                {% if form.firstname.errors %}
                    <div class="alert alert-danger error">
                        <ul>
                            {% for error in form.firstname.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </div>

            <div class="form-group">
                <label for="{{ form.lastname.id_for_label }}">{{ form.lastname.label }}</label>
                {{ form.lastname }}
                {% if form.lastname.errors %}
                    <div class="alert alert-danger error">
                        <ul>
                            {% for error in form.lastname.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </div>

            <div class="form-group">
                <label for="{{ form.username.id_for_label }}">{{ form.username.label }}</label>
                {{ form.username }}
                {% if form.username.errors %}
                    <div class="alert alert-danger error">
                        <ul>
                            {% for error in form.username.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </div>

            <div class="form-group">
                <label for="{{ form.password1.id_for_label }}">{{ form.password1.label }}</label>
                {{ form.password1 }}
                {% if form.password1.errors %}
                    <div class="alert alert-danger error">
                        <ul>
                            {% for error in form.password1.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </div>

            <div class="form-group">
                <label for="{{ form.password2.id_for_label }}">{{ form.password2.label }}</label>
                {{ form.password2 }}
                {% if form.password2.errors %}
                    <div class="alert alert-danger error">
                        <ul>
                            {% for error in form.password2.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </div>

            <div class="buttons">
                <a href="{% url 'login' %}"class="button" id="btn-back">Login</a>
                <input class="button" type="submit" value="Register"></input>
            </div>
        
        </form>

    </div>
</div>

{% endblock content %}
